<section class="blog">
  <div class="container">
    <div class="centered">
      <h4 class="blog__suptitle main-suptitle">Blog Post</h4>
      <h2 class="title blog__title">Our Latest Blog</h2>
    </div>
    <div class="blog__content">
      <ul class="list-reset blog-card blog-card__container">
        <li class="blog-card__item">
          <a class="blog-card__link" href="#">
            <img class="blog-card__img" src="../img/b-1.jpg" alt="">
          </a>
          <div class="blog-card__descr">
            <h4 class="blog-card__suptitle">Travel</h4>
            <h2 class="blog-card__title">Beauty place in Greece</h2>
            <div class="blog-card__bottom">
              <div class="blog-card__comment">25</div>
              <div class="blog-card__view">23k+ view</div>
            </div>
          </div>
        </li>
        <li class="blog-card__item">
          <a class="blog-card__link" href="#">
            <img class="blog-card__img" src="../img/b-2.jpg" alt="">
          </a>
          <div class="blog-card__descr">
            <h4 class="blog-card__suptitle">Travel</h4>
            <h2 class="blog-card__title">Beauty place in Maldivs</h2>
            <div class="blog-card__bottom">
              <div class="blog-card__comment">25</div>
              <div class="blog-card__view">23k+ view</div>
            </div>
          </div>
        </li>
        <li class="blog-card__item">
          <a class="blog-card__link" href="#">
            <img class="blog-card__img" src="../img/b-3.jpg" alt="">
          </a>
          <div class="blog-card__descr">
            <h4 class="blog-card__suptitle">Travel</h4>
            <h2 class="blog-card__title">Beauty place in Thailand</h2>
            <div class="blog-card__bottom">
              <div class="blog-card__comment">25</div>
              <div class="blog-card__view">23k+ view</div>
            </div>
          </div>
        </li>
        <li class="blog-card__item">
          <a class="blog-card__link" href="#">
            <img class="blog-card__img" src="../img/b-4.jpg" alt="">
          </a>
          <div class="blog-card__descr">
            <h4 class="blog-card__suptitle">Travel</h4>
            <h2 class="blog-card__title">Beauty place in Greece</h2>
            <div class="blog-card__bottom">
              <div class="blog-card__comment">25</div>
              <div class="blog-card__view">23k+ view</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>