<section class="company">
  <div class="container company-travel__container">
    <div class="company-travel">
      <p>Travel</p>
    </div>
    <div class="to-book">
      <ul class="list-reset to-book-tabs-nav">
        <li class="to-book-tabs-nav__item">
          <button class="btn-reset to-book-tabs-nav__btn to-book-tabs-nav__btn--active" data-path="hotel">
            <svg class="to-book-tabs-nav__icon">
              <use xlink:href="img/sprite.svg#hotel"></use>
            </svg>
            <span class="to-book-tabs-nav__text">hotel</span>
          </button>
        </li>
        <li class="to-book-tabs-nav__item">
          <button class="btn-reset to-book-tabs-nav__btn" data-path="flight">
            <svg class="to-book-tabs-nav__icon">
              <use xlink:href="img/sprite.svg#flight"></use>
            </svg>
            <span class="to-book-tabs-nav__text">flight</span>
          </button>
        </li>
        <li class="to-book-tabs-nav__item">
          <button class="btn-reset to-book-tabs-nav__btn" data-path="car">
            <svg class="to-book-tabs-nav__icon">
              <use xlink:href="img/sprite.svg#car"></use>
            </svg>
            <span class="to-book-tabs-nav__text">car</span>
          </button>
        </li>
        <li class="to-book-tabs-nav__item">
          <button class="btn-reset to-book-tabs-nav__btn" data-path="ship">
            <svg class="to-book-tabs-nav__icon">
              <use xlink:href="img/sprite.svg#Ship"></use>
            </svg>
            <span class="to-book-tabs-nav__text">ship</span>
          </button>
        </li>
      </ul>
      <ul class="list-reset to-book-tabs to-book-tabs__container">
        <li class="to-book-tabs__item to-book-tabs__item--visible">
          <div class="to-book__content to-book__container" data-target="hotel">
            <div class="to-book__item">
              <div class="to-book__title">Your Destination</div>
              <div class="to-book-element">
                <div class="to-book-element__content">Thailand</div>
              </div>
            </div>
            <div class="to-book__item">
              <div class="to-book__title">Check In</div>
              <div class="to-book-element">
                <div class="to-book-element__content">01-26-22</div>
              </div>
            </div>
            <div class="to-book__item">
              <div class="to-book__title">Check Out</div>
              <div class="to-book-element">
                <div class="to-book-element__content">01-30-22</div>
              </div>
            </div>
            <div class="to-book__item">
              <div class="to-book__title">Child</div>
              <div class="to-book-element">
                <div class="to-book-element__content">2</div>
              </div>
            </div>
            <div class="to-book__item">
              <div class="to-book__title">Adult</div>
              <div class="to-book-element">
                <div class="to-book-element__content">3</div>
              </div>
            </div>
            <div class="to-book__btn">
              <button class="btn-reset btn">Book Now</button>
            </div>
          </div>
        </li>
        <li class="to-book-tabs__item to-book-tabs__item--visible">
          <div class="to-book__content to-book__container" data-target="flight">
            <div class="to-book__item">
              <div class="to-book__title">Check In</div>
              <div class="to-book-element">
                <div class="to-book-element__content">01-26-22</div>
              </div>
            </div>
            <div class="to-book__item">
              <div class="to-book__title">Your Destination</div>
              <div class="to-book-element">
                <div class="to-book-element__content">Thailand</div>
              </div>
            </div>
            <div class="to-book__item">
              <div class="to-book__title">Check Out</div>
              <div class="to-book-element">
                <div class="to-book-element__content">01-30-22</div>
              </div>
            </div>
            <div class="to-book__item">
              <div class="to-book__title">Child</div>
              <div class="to-book-element">
                <div class="to-book-element__content">2</div>
              </div>
            </div>
            <div class="to-book__item">
              <div class="to-book__title">Adult</div>
              <div class="to-book-element">
                <div class="to-book-element__content">3</div>
              </div>
            </div>
            <div class="to-book__btn">
              <button class="btn-reset btn">Book Now</button>
            </div>
          </div>
        </li>
        <li class="to-book-tabs__item to-book-tabs__item--visible">
          <div class="to-book__content to-book__container" data-target="car">
            <div class="to-book__item">
              <div class="to-book__title">Your Destination</div>
              <div class="to-book-element">
                <div class="to-book-element__content">Thailand</div>
              </div>
            </div>
            <div class="to-book__item">
              <div class="to-book__title">Check In</div>
              <div class="to-book-element">
                <div class="to-book-element__content">01-26-22</div>
              </div>
            </div>
            <div class="to-book__item">
              <div class="to-book__title">Child</div>
              <div class="to-book-element">
                <div class="to-book-element__content">2</div>
              </div>
            </div>
            <div class="to-book__item">
              <div class="to-book__title">Check Out</div>
              <div class="to-book-element">
                <div class="to-book-element__content">01-30-22</div>
              </div>
            </div>
            <div class="to-book__item">
              <div class="to-book__title">Adult</div>
              <div class="to-book-element">
                <div class="to-book-element__content">3</div>
              </div>
            </div>
            <div class="to-book__btn">
              <button class="btn-reset btn">Book Now</button>
            </div>
          </div>
        </li>
        <li class="to-book-tabs__item to-book-tabs__item--visible">
          <div class="to-book__content to-book__container" data-target="ship">
            <div class="to-book__item">
              <div class="to-book__title">Your Destination</div>
              <div class="to-book-element">
                <div class="to-book-element__content">Thailand</div>
              </div>
            </div>
            <div class="to-book__item">
              <div class="to-book__title">Check In</div>
              <div class="to-book-element">
                <div class="to-book-element__content">01-26-22</div>
              </div>
            </div>
            <div class="to-book__item">
              <div class="to-book__title">Adult</div>
              <div class="to-book-element">
                <div class="to-book-element__content">3</div>
              </div>
            </div>
            <div class="to-book__item">
              <div class="to-book__title">Check Out</div>
              <div class="to-book-element">
                <div class="to-book-element__content">01-30-22</div>
              </div>
            </div>
            <div class="to-book__item">
              <div class="to-book__title">Child</div>
              <div class="to-book-element">
                <div class="to-book-element__content">2</div>
              </div>
            </div>
            <div class="to-book__btn">
              <button class="btn-reset btn">Book Now</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="company-about company-about__container">
      <div class="company-about__left">
        <div class="company-about__images">
          <img class="company-about__images--one" src="../img/company-adout-bg-1.jpg" alt="">
          <img class="company-about__images--two" src="../img/company-about-bg-2.jpg" alt="">
        </div>
      </div>
      <div class="company-about__right">
        <div class="company-about__content">
          <h4 class="company-about__suptitle main-suptitle">About us</h4>
          <h2 class="company-about__title">World Best Travel Agency Company Since 2008.</h2>
          <p class="company-about__descr descr">
            Continually productize compelling quality for packed with elated
            productize compelling quality for packed in&nbsp;with all elated Them
            Setting up&nbsp;to&nbsp;website and creating pages.
          </p>
          <ul class="list-reset company-about__list">
            <li class="company-about__item">
              <p class="company-about__text descr">We&nbsp;providing compe quality for packed with elated different.</p>
            </li>
            <li class="company-about__item">
              <p class="company-about__text descr">
                We&nbsp;are one of&nbsp;compelling quality for packed with leading.
              </p>
            </li>
            <li class="company-about__item">
              <p class="company-about__text descr">
                Learn how compelling quality for packed with elated grow.
              </p>
            </li>
          </ul>
        </div>
        <div class="company-about__footer">
          <div class="company-about__inner">
            <p class="company-about__number">20+</p>
            <p class="company-about__descr descr">Year</p>
            <p class="company-about__descr descr">Experience</p>
          </div>
          <div class="company-about__inner">
            <p class="company-about__number">250+</p>
            <p class="company-about__descr descr">Destination </p>
            <p class="company-about__descr descr">Collaboratin</p>
          </div>
          <div class="company-about__inner">
            <p class="company-about__number">170K+</p>
            <p class="company-about__descr descr">Happy</p>
            <p class="company-about__descr descr">Customers</p>
          </div>
        </div>
        <div class="company-about__btn">
          <a class="btn-reset btn" href="#">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>