<section class="destinations">
  <div class="container">
    <div class="centered">
      <h4 class="destinations__suptitle main-suptitle">Popular Place</h4>
      <h2 class="title destinations__title">Most Popular Destinations</h2>
    </div>
    <div class="destinations__content">
      <ul class="list-reset destinations__list destinations__container">
        <li class="destinations__item">
          <a class="destinations__packages" href="#">3 Packages</a>
          <a class="destinations__link" href="#">
            <img class="destinations__images" src="../img/d-1.jpg" alt="">
          </a>
          <div class="destinations-enjoy">
            <div class="destinations-enjoy__item">
              <h3 class="destinations-enjoy__title">
                <a href="#">Enjoy the Beauty place in
                  Greece City</a>
              </h3>
              <div class="destinations-enjoy__review">
                <div class="destinations-enjoy__star">4.8</div>
                <div class="destinations-enjoy__descr">(2.5k Review)</div>
              </div>
            </div>
          </div>
        </li>
        <li class="destinations__item">
          <a class="destinations__packages" href="#">3 Packages</a>
          <a class="destinations__link" href="#">
            <img class="destinations__images" src="../img/d-2.jpg" alt="">
          </a>
          <div class="destinations-enjoy">
            <div class="destinations-enjoy__item">
              <h3 class="destinations-enjoy__title">
                <a href="#">Enjoy the Beauty place in
                  Paris City</a>
              </h3>
              <div class="destinations-enjoy__review">
                <div class="destinations-enjoy__star">4.8</div>
                <div class="destinations-enjoy__descr">(2.5k Review)</div>
              </div>
            </div>
          </div>
        </li>
        <li class="destinations__item">
          <a class="destinations__packages" href="#">3 Packages</a>
          <a class="destinations__link" href="#">
            <img class="destinations__images" src="../img/d-3.jpg" alt="">
          </a>
          <div class="destinations-enjoy">
            <div class="destinations-enjoy__item">
              <h3 class="destinations-enjoy__title">
                <a href="#">Enjoy the Beauty place in
                  Dubai City</a>
              </h3>
              <div class="destinations-enjoy__review">
                <div class="destinations-enjoy__star">4.8</div>
                <div class="destinations-enjoy__descr">(2.5k Review)</div>
              </div>
            </div>
          </div>
        </li>
        <li class="destinations__item">
          <a class="destinations__packages" href="#">3 Packages</a>
          <a class="destinations__link" href="#">
            <img class="destinations__images" src="../img/d-4.jpg" alt="">
          </a>
          <div class="destinations-enjoy">
            <div class="destinations-enjoy__item">
              <h3 class="destinations-enjoy__title">
                <a href="#">Enjoy the Beauty place in
                  Rom City</a>
              </h3>
              <div class="destinations-enjoy__review">
                <div class="destinations-enjoy__star">4.8</div>
                <div class="destinations-enjoy__descr">(2.5k Review)</div>
              </div>
            </div>
          </div>
        </li>
        <li class="destinations__item">
          <a class="destinations__packages" href="#">3 Packages</a>
          <a class="destinations__link" href="#">
            <img class="destinations__images" src="../img/d-5.jpg" alt="">
          </a>
          <div class="destinations-enjoy">
            <div class="destinations-enjoy__item">
              <h3 class="destinations-enjoy__title">
                <a href="#">Enjoy the Beauty place in
                  Thailand City</a>
              </h3>
              <div class="destinations-enjoy__review">
                <div class="destinations-enjoy__star">4.8</div>
                <div class="destinations-enjoy__descr">(2.5k Review)</div>
              </div>
            </div>
          </div>
        </li>
        <li class="destinations__item">
          <a class="destinations__packages" href="#">3 Packages</a>
          <a class="destinations__link" href="#">
            <img class="destinations__images" src="../img/d-6.jpg" alt="">
          </a>
          <div class="destinations-enjoy">
            <div class="destinations-enjoy__item">
              <h3 class="destinations-enjoy__title">
                <a href="#">Enjoy the Beauty place in
                  Japan City</a>
              </h3>
              <div class="destinations-enjoy__review">
                <div class="destinations-enjoy__star">4.8</div>
                <div class="destinations-enjoy__descr">(2.5k Review)</div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>