<section class="explore">
  <div class="container">
    <div class="explore__content">
      <h1 class="main-title">
        It&rsquo;s a&nbsp;Big World
        Out There, Go
        Explore
      </h1>
      <div class="main-descr">
        Conveniently customize proactive web services for leveraged without
        continualliery aggregate fricctionle ou&nbsp;wellies richard.and very
        customize continually.
      </div>
      <div class="explore__btns">
        <a class="btn-reset btn" href="#">Get Exploration</a>
        <a class="btn-reset btn btn--fill" href="#">Read More</a>
      </div>
    </div>
  </div>
</section>