<header class="header header--secondary">
  <div class="container header__container">
    <a class="logo" href="#">
      <img src="../img/logo.svg" alt="">
    </a>
    <nav class="nav header__nav">
      <ul class="list-reset nav__list">
        <li class="nav__item">
          <a class="nav__link" href="#">Home</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Tours</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Hotel</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Gallery</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Pages</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Blog</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Contact</a>
        </li>
        <li class="nav__item">
          <a class="nav__link" href="#">Login</a>
        </li>
        <li class="nav__item">
          <button class="btn-reset nav__link nav__link--sign" href="#">Sign UP</button>
        </li>
      </ul>
    </nav>
  </div>
</header>
