<section class="newsletter">
  <div class="container">
    <div class="centered">
      <form action="/" class="newsletter-form newsletter__form">
        <h3 class="newsletter-form__title">Sign Up&nbsp;For Our Newsletter</h3>
        <div class="newsletter-form__items">
          <label class="form-field">
            <input class="form-field__input" type="email" name="email" placeholder="Enter your e-mail here">
          </label>
          <button class="btn-reset newsletter-form__btn btn">Subscribe Now</button>
        </div>
      </form>
    </div>
  </div>
</section>