<section class="packeg">
  <div class="container">
    <div class="centered">
      <h4 class="packeg__suptitle main-suptitle">Popular Packeg</h4>
      <h2 class="title packeg__title">Discover Weekly Packegs</h2>
    </div>
    <div class="packeg__content">
      <ul class="list-reset packeg__list">
        <li class="packeg__item packeg-card">
          <div class="packeg-card__item">
            <a class="packeg-card__img" href="#">
              <img src="../img/res-1.jpg" alt="">
            </a>
            <div class="packeg-card__inner">
              <div class="packeg-card__left">
                <h4 class="packeg-card__title">Nika Resort Maldive</h4>
                <h5 class="packeg-card__suptitle packeg-card__suptitle--maldives">Maldive, 4&nbsp;Day&rsquo;s
                  3&nbsp;Night</h5>
              </div>
              <div class="packeg-card__right">
                <h4 class="packeg-card__title">$750</h4>
                <h5 class="packeg-card__suptitle">4 Person</h5>
              </div>
            </div>
          </div>
        </li>
        <li class="packeg__item packeg-card">
          <div class="packeg-card__item">
            <a class="packeg-card__img" href="#">
              <img src="../img/res-2.jpg" alt="">
            </a>
            <div class="packeg-card__inner">
              <div class="packeg-card__left">
                <h4 class="packeg-card__title">I Fell Tower Paris City</h4>
                <h5 class="packeg-card__suptitle packeg-card__suptitle--france">France, 4&nbsp;Day&rsquo;s 3&nbsp;Night
                </h5>
              </div>
              <div class="packeg-card__right">
                <h4 class="packeg-card__title">$750</h4>
                <h5 class="packeg-card__suptitle">4 Person</h5>
              </div>
            </div>
          </div>
        </li>
        <li class="packeg__item packeg-card">
          <div class="packeg-card__item">
            <a class="packeg-card__img" href="#">
              <img src="../img/res-3.jpg" alt="">
            </a>
            <div class="packeg-card__inner">
              <div class="packeg-card__left">
                <h4 class="packeg-card__title">Rome Tower Italy City</h4>
                <h5 class="packeg-card__suptitle packeg-card__suptitle--italy">Italy, 4&nbsp;Day&rsquo;s 3&nbsp;Night
                </h5>
              </div>
              <div class="packeg-card__right">
                <h4 class="packeg-card__title">$750</h4>
                <h5 class="packeg-card__suptitle">4 Person</h5>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>