<section class="services">
  <div class="container services-travel__container">
    <div class="services-travel">
      <p>Travel</p>
    </div>
    <div class="services-relax services-relax__container">
      <div class="services-relax__content">
        <h4 class="services-relax__suptitle main-suptitle">What our Services</h4>
        <h3 class="services-relax__title title">Relax And Enjoy The Exceptional Amenities.</h3>
        <ul class="list-reset services-relax__list">
          <li class="services-relax__item">
            <div class="services-relax__images">
              <img src="../img/ser-1.png" alt="">
            </div>
            <div class="services-relax__element">
              <h4 class="services-relax__subtitle">Lot Of Choises</h4>
              <div class="services-relax__descr descr">Conveniently custmize proactive
                eontinualliery aggregate</div>
            </div>
          </li>
          <li class="services-relax__item">
            <div class="services-relax__images">
              <img src="../img/ser-2.png" alt="">
            </div>
            <div class="services-relax__element">
              <h4 class="services-relax__subtitle">Best Tour Guide</h4>
              <div class="services-relax__descr descr">Conveniently custmize proactive
                eontinualliery aggregate</div>
            </div>
          </li>
          <li class="services-relax__item">
            <div class="services-relax__images">
              <img src="../img/ser-3.png" alt="">
            </div>
            <div class="services-relax__element">
              <h4 class="services-relax__subtitle">Easy Booking</h4>
              <div class="services-relax__descr descr">Conveniently custmize proactive
                eontinualliery aggregate</div>
            </div>
          </li>
          <li class="services-relax__item">
            <div class="services-relax__images">
              <img src="../img/ser-4.png" alt="">
            </div>
            <div class="services-relax__element">
              <h4 class="services-relax__subtitle">24 Support</h4>
              <div class="services-relax__descr descr">Conveniently custmize proactive
                eontinualliery aggregate</div>
            </div>
          </li>
        </ul>
      </div>
      <div class="services-relax__photo">
        <img src="../img/services-relag-bg.jpg" alt="">
      </div>
    </div>
  </div>
</section>