<section class="team">
  <div class="container">
    <div class="centered">
      <h4 class="team__suptitle main-suptitle">Team member</h4>
      <h2 class="title team__title">Our Team Member</h2>
    </div>
    <div class="team__content">
      <ul class="list-reset team-card team-card__list team-card__container">
        <li class="team-card__item">
          <a class="team-card__link" href="#">
            <img src="../img/tem-1.jpg" alt="">
          </a>
          <div class="team-job team-job__callout">
            <h3 class="team-job__name">Vanessa Kirby</h3>
            <h4 class="team-job__position">Founder and Ceo</h4>
            <ul class="list-reset social team-job__social ">
              <li class="social__item">
                <a href="#" target="_blank" class="social__link" aria-label="WhatsApp">
                  <svg>
                    <use xlink:href="img/sprite.svg#whatsapp"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a href="#" target="_blank" class="social__link" aria-label="Facebook">
                  <svg>
                    <use xlink:href="img/sprite.svg#facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a href="#" target="_blank" class="social__link" aria-label="Twitter">
                  <svg>
                    <use xlink:href="img/sprite.svg#twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a href="#" target="_blank" class="social__link" aria-label="YouTube">
                  <svg>
                    <use xlink:href="img/sprite.svg#youtube"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team-card__item">
          <a class="team-card__link" href="#">
            <img src="../img/tem-2.jpg" alt="">
          </a>
          <div class="team-job team-job__callout">
            <h3 class="team-job__name">Sahjhan Sagor</h3>
            <h4 class="team-job__position">Founder and Ceo</h4>
            <ul class="list-reset social team-job__social ">
              <li class="social__item">
                <a href="#" target="_blank" class="social__link" aria-label="WhatsApp">
                  <svg>
                    <use xlink:href="img/sprite.svg#whatsapp"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a href="#" target="_blank" class="social__link" aria-label="Facebook">
                  <svg>
                    <use xlink:href="img/sprite.svg#facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a href="#" target="_blank" class="social__link" aria-label="Twitter">
                  <svg>
                    <use xlink:href="img/sprite.svg#twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a href="#" target="_blank" class="social__link" aria-label="YouTube">
                  <svg>
                    <use xlink:href="img/sprite.svg#youtube"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team-card__item">
          <a class="team-card__link" href="#">
            <img src="../img/tem-3.jpg" alt="">
          </a>
          <div class="team-job team-job__callout">
            <h3 class="team-job__name">Dereck Bissen</h3>
            <h4 class="team-job__position">Founder and Ceo</h4>
            <ul class="list-reset social team-job__social ">
              <li class="social__item">
                <a href="#" target="_blank" class="social__link" aria-label="WhatsApp">
                  <svg>
                    <use xlink:href="img/sprite.svg#whatsapp"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a href="#" target="_blank" class="social__link" aria-label="Facebook">
                  <svg>
                    <use xlink:href="img/sprite.svg#facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a href="#" target="_blank" class="social__link" aria-label="Twitter">
                  <svg>
                    <use xlink:href="img/sprite.svg#twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a href="#" target="_blank" class="social__link" aria-label="YouTube">
                  <svg>
                    <use xlink:href="img/sprite.svg#youtube"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="team-card__item">
          <a class="team-card__link" href="#">
            <img src="../img/tem-4.jpg" alt="">
          </a>
          <div class="team-job team-job__callout">
            <h3 class="team-job__name">Dawn Johnson</h3>
            <h4 class="team-job__position">Founder and Ceo</h4>
            <ul class="list-reset social team-job__social ">
              <li class="social__item">
                <a href="#" target="_blank" class="social__link" aria-label="WhatsApp">
                  <svg>
                    <use xlink:href="img/sprite.svg#whatsapp"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a href="#" target="_blank" class="social__link" aria-label="Facebook">
                  <svg>
                    <use xlink:href="img/sprite.svg#facebook"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a href="#" target="_blank" class="social__link" aria-label="Twitter">
                  <svg>
                    <use xlink:href="img/sprite.svg#twitter"></use>
                  </svg>
                </a>
              </li>
              <li class="social__item">
                <a href="#" target="_blank" class="social__link" aria-label="YouTube">
                  <svg>
                    <use xlink:href="img/sprite.svg#youtube"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>