<section class="travel">
  <div class="container">
    <div class="travel__content travel__container">
      <div class="travel__item">
        <img class="travel__img" src="../img/trav-1.jpg" alt="">
      </div>
      <div class="travel__item">
        <img class="travel__img" src="../img/trav-2.jpg" alt="">
      </div>
      <div class="travel__item">
        <img class="travel__img" src="../img/trav-3.jpg" alt="">
      </div>
      <div class="travel__item">
        <img class="travel__img" src="../img/trav-4.jpg" alt="">
      </div>
    </div>
  </div>
</section>