//font-face
$font-family: "Poppins";
$urlb: "Poppins-Bold";
$urlsb: "Poppins-SemiBold";
$urlm: "Poppins-Medium";
$urlr: "Poppins-Regular";
$weight: 700;
$weightsb: 600;
$weightm: 500;
$weightr: 400;
$style: normal;


//Color
$burst: #1F3347;
$santas: #9DA1B4;
$white: #ffffff;
$royal: #6347F9;
$rose: #fffdfd;
$ebony : #22283c;
